.container {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  color: #f9d9aa;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: auto;
}

.content h1 {
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
}

.content span {
  color: #ff902a;
}

.content p {
  font-size: 1.5rem;
  color: white;
}

.containerButtons {
  display: flex;
  gap: 4rem;
}

.button {
  border-radius: 12px;
  border: none;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.buttonCart {
  border-radius: 12px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.4s; 
}

.buttonCart:hover {
  background-color: #ff902a;
}